<section
  class="
    mx-auto
    mt-1
    w-full
    max-w-[1000px]
    text-center

    sm:mt-6

    md:mt-8
  "
>
  <div
    class="
      flex
      items-center
      justify-center
      gap-2
    "
  >
    <h1
      class="
        text-[18px]
        font-semibold
        leading-tight
        text-[#111]

        sm:text-[29px]

        md:text-[39px]

        lg:text-[47px]
      "
    >
      التسوق حسب نوع البشرة
    </h1>

    <svg
      [lucideIcon]="heartIcon"
      class="
        shrink-0
        h-[17px]
        w-[17px]
        text-[#C91F72]

        sm:h-[29px]
        sm:w-[29px]

        md:h-[37px]
        md:w-[37px]
      "
      [strokeWidth]="1.5"
    ></svg>
  </div>

  <p
    class="
      mt-1
      text-[9px]
      leading-5
      text-[#777]

      sm:mt-3
      sm:text-[13px]

      md:text-[17px]
    "
  >
    اختاري منتجات تناسب بشرتك لتتمتعي بجمال صحي وإطلالة مثالية
  </p>
</section>
