<section class="w-full py-1 sm:py-2">
  <div *ngIf="config?.title" class="mb-3">
    <h2 class="text-base sm:text-xl md:text-2xl font-bold text-[#111111]">
      {{ config.title | localize: config.titleAr : config.titleEn }}
    </h2>
  </div>
  <div
    class="
      grid
      grid-cols-4
      w-full
      items-start
      justify-items-center
      gap-2
      sm:gap-6
      md:gap-10
      lg:gap-14
      py-1
    "
  >
    @for (category of categoriesList; track category.name) {
      <div class="w-full flex justify-center">
        <app-category-circle
          [image]="category.image"
          [name]="(category.name | localize: category.nameAr : category.nameEn)"
          (categoryClick)="onCategorySelect(category)"
        ></app-category-circle>
      </div>
    }
  </div>
</section>
