<section
  class="
    w-full
    rounded-[10px]
    border
    border-[#EEEEEE]
    bg-white
    px-[12px]
    py-[9px]
    shadow-[0_1px_5px_rgba(0,0,0,0.025)]

    sm:rounded-[11px]
    sm:px-[15px]
    sm:py-[13px]

    md:rounded-[13px]
    md:px-[18px]
    md:py-[16px]

    lg:rounded-[15px]
    lg:px-[20px]
    lg:py-[18px]
  "
>
  <!-- Subtotal -->
  <div
    class="
      flex
      items-center
      justify-between
      text-[12px]

      sm:text-[14px]

      md:text-[16px]

      lg:text-[18px]
    "
  >
    <span class="text-[#707070]">{{ 'COMMON.SUBTOTAL' | translate }}</span>
    <span>{{ subtotal }} {{ 'COMMON.CURRENCY' | translate }}</span>
  </div>

  <!-- Shipping -->
  <div
    class="
      mt-[8px]
      flex
      items-center
      justify-between
      text-[12px]

      sm:mt-[10px]
      sm:text-[14px]

      md:mt-[12px]
      md:text-[16px]

      lg:text-[18px]
    "
  >
    <span class="text-[#707070]">{{ 'COMMON.DELIVERY' | translate }}</span>
    <span>{{ shipping }} {{ 'COMMON.CURRENCY' | translate }}</span>
  </div>

  <!-- Discount -->
  @if (discount > 0) {
    <div
      class="
        mt-[8px]
        flex
        items-center
        justify-between
        text-[12px]
        text-[#D4146A]

        sm:mt-[10px]
        sm:text-[14px]

        md:mt-[12px]
        md:text-[16px]

        lg:text-[18px]
      "
    >
      <span class="text-[#707070]">{{ 'COMMON.DISCOUNT' | translate }}</span>
      <span>-{{ discount }} {{ 'COMMON.CURRENCY' | translate }}</span>
    </div>
  }

  <!-- Divider -->
  <div class="my-[8px] h-px w-full bg-[#EEEEEE]"></div>

  <!-- Total -->
  <div
    class="
      flex
      items-end
      justify-between
    "
  >
    <div class="flex flex-col items-start gap-0.5 text-start">
      <h2
        class="
          text-[16px]
          font-bold
          text-[#222222]

          sm:text-[18px]

          md:text-[21px]

          lg:text-[24px]
        "
      >
        {{ 'COMMON.TOTAL' | translate }}
      </h2>

      <p
        class="
          text-[9px]
          text-[#999999]

          sm:text-[10px]

          md:text-[11px]
        "
      >
        {{ 'CART.VAT_INCLUDED' | translate }}
      </p>
    </div>

    <div>
      <span
        class="
          text-[18px]
          font-extrabold
          text-[#D4146A]

          sm:text-[21px]

          md:text-[25px]

          lg:text-[29px]
        "
      >
        {{ total }}
      </span>

      <span
        class="
          mx-[4px]
          text-[13px]
          text-[#D4146A]
          font-medium

          sm:text-[15px]

          md:text-[17px]

          lg:text-[19px]
        "
      >
        {{ 'COMMON.CURRENCY' | translate }}
      </span>
    </div>
  </div>
</section>
