<section
  class="
    mx-auto
    mt-6
    w-full
    max-w-[1000px]
    pb-5

    sm:mt-9

    md:mt-12
  "
>
  <!-- Title -->
  <h2
    class="
      text-center
      text-[17px]
      font-semibold
      leading-tight
      text-[#111]

      sm:text-[28px]

      md:text-[38px]

      lg:text-[44px]
    "
  >
    {{ 'من وراء هيات ميكاب' | localize: 'من وراء هيات ميكاب' : 'Who is behind Hayat Makeup' }}
  </h2>

  <!-- Content -->
  <div
    class="
      mx-auto
      mt-3
      flex
      w-full
      max-w-[850px]
      items-center
      gap-5
      px-13

      sm:mt-5
      sm:gap-7
      sm:px-8

      md:mt-6
      md:gap-9
      md:px-10
    "
  >
    <!-- Icon -->
    <div
      class="
        flex
        h-[40px]
        w-[40px]
        shrink-0
        items-center
        justify-center
        rounded-full
        bg-[#FFF0F5]
        text-[#C91F72]

        sm:h-[70px]
        sm:w-[70px]

        md:h-[86px]
        md:w-[86px]
      "
    >
      <svg
        [lucideIcon]="usersRoundIcon"
        class="h-5 w-5 sm:h-[38px] sm:w-[38px] md:h-[48px] md:w-[48px]"
        [strokeWidth]="1.4"
      ></svg>
    </div>

    <!-- Text -->
    <p
      class="
        min-w-0
        flex-1
        text-start
        text-[9px]
        leading-5
        text-[#555]

        sm:text-[13px]
        sm:leading-7

        md:text-[17px]
        md:leading-8

        lg:text-[20px]
      "
    >
      {{ 'هيات ميكاب هو شغف يتحول إلى تجربة جمال متكاملة. نؤمن أن الجمال يبدأ من الثقة، ونسعى لنكون جزءًا من رحلتك اليومية نحو التألق.' | localize: 'هيات ميكاب هو شغف يتحول إلى تجربة جمال متكاملة. نؤمن أن الجمال يبدأ من الثقة، ونسعى لنكون جزءًا من رحلتك اليومية نحو التألق.' : 'Hayat Makeup is a passion transformed into an all-encompassing beauty experience. We believe confidence is where true beauty begins, and we aspire to be a luminous part of your daily routine.' }}
    </p>
  </div>
</section>
