@if (href) {
  <a
    [href]="href"
    target="_blank"
    rel="noopener noreferrer"
    class="
      flex
      min-h-[110px]
      w-full
      flex-col
      items-center
      justify-center
      rounded-2xl
      border
      border-gray-100
      bg-white
      px-3
      py-3.5
      text-center
      shadow-xs
      hover:shadow-sm
      hover:border-pink-200
      transition-all

      sm:min-h-[138px]
      sm:rounded-[16px]
      sm:px-4
      sm:py-4

      md:min-h-[165px]
      md:rounded-[20px]
      md:px-5
      md:py-5
    "
  >
    <svg
      [lucideIcon]="icon"
      class="
        text-[#C91F72]
        h-7
        w-7

        sm:h-[37px]
        sm:w-[37px]

        md:h-[45px]
        md:w-[45px]
      "
      [strokeWidth]="1.4"
    ></svg>

    <h3
      class="
        mt-2
        text-xs
        sm:text-[16px]
        font-bold
        text-[#111]

        sm:mt-3
        md:mt-4
        md:text-[20px]
      "
    >
      {{ title }}
    </h3>

    <p
      class="
        mt-1
        break-words
        text-[11px]
        sm:text-[12px]
        md:text-[14px]
        leading-relaxed
        font-semibold
        text-[#C91F72]
      "
    >
      {{ value }}
    </p>
  </a>
} @else {
  <article
    class="
      flex
      min-h-[110px]
      w-full
      flex-col
      items-center
      justify-center
      rounded-2xl
      border
      border-gray-100
      bg-white
      px-3
      py-3.5
      text-center
      shadow-xs

      sm:min-h-[138px]
      sm:rounded-[16px]
      sm:px-4
      sm:py-4

      md:min-h-[165px]
      md:rounded-[20px]
      md:px-5
      md:py-5
    "
  >
    <svg
      [lucideIcon]="icon"
      class="
        text-[#C91F72]
        h-7
        w-7

        sm:h-[37px]
        sm:w-[37px]

        md:h-[45px]
        md:w-[45px]
      "
      [strokeWidth]="1.4"
    ></svg>

    <h3
      class="
        mt-2
        text-xs
        sm:text-[16px]
        font-bold
        text-[#111]

        sm:mt-3
        md:mt-4
        md:text-[20px]
      "
    >
      {{ title }}
    </h3>

    <p
      class="
        mt-1
        break-words
        text-[11px]
        sm:text-[12px]
        md:text-[14px]
        leading-relaxed
        font-semibold
        text-[#C91F72]
      "
    >
      {{ value }}
    </p>
  </article>
}
